<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Transaksi</title>
</head>
<body>
    <h1>Input Transaksi</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'transaction-list' %}">Back to Transaction List</a>
</body>
</html>
