<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Point List</title>
</head>
<body>
    <h1>Point List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Name</th>
                <th>Total Point</th>
            </tr>
        </thead>
        <tbody>
            {% for data in point_data %}
                <tr>
                    <td>{{ data.account_id }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.total_points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
