<!DOCTYPE html>
<html>
<head>
    <title>Customer</title>
</head>
<body>
    <h1>Customer</h1>
    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
