<!DOCTYPE html>
<html>
<head>
    <title>Detail Nasabah</title>
</head>
<body>
    <h1>Detail Nasabah</h1>
    <p>Nama: {{ customer.name }}</p>
    <a href="{% url 'customer-list' %}">Kembali ke Daftar Customer</a>
</body>
</html>
