<!DOCTYPE html>
<html>
<head>
    <title>Input Customer Data</title>
</head>
<body>
    <h1>Input Customer Data</h1>
    <form method="post" action="{% url 'customer-list' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
    </form>
</body>
</html>
