<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Report Form</title>
</head>
<body>
    <h1>Transaction Report</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Generate Report">
    </form>
</body>
</html>
