<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Report</title>
</head>
<body>
    <h1>Transaction Report</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_date }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{% if transaction.debit_credit_status == 'C' %}{{ transaction.amount }}{% endif %}</td>
                    <td>{% if transaction.debit_credit_status == 'D' %}{{ transaction.amount }}{% endif %}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
