<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Transaksi</title>
</head>
<body>
    <h1>Daftar Transaksi</h1>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction.transaction_date }} - {{ transaction.description }} - {{ transaction.amount }}</li>
        {% empty %}
            <li>Tidak ada transaksi.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add-transaction' %}">Tambah Transaksi</a>
</body>
</html>
